@page
@model PokemonTeamAnalyzerRazorUI.Pages.Shared.PokemonViewModel
@{
    Layout = null;
}

@if (Model.PokemonList != null && Model.PokemonList.Count > 0)
{

    int pokemonCount = 0;

    <p>Results: @Model.PokemonList.Count</p>

    <section>

        <table>

            <thead>
            <th>Pkmn Sprite</th>
            <th>ID</th>
            <th>Name</th>
            <th>Type 1</th>
            <th>Type 2</th>
            <th>Ability 1</th>
            <th>Ability 2</th>
            <th>Hidden Ability</th>
            <th>Hp</th>
            <th>Att</th>
            <th>Def</th>
            <th>SpAtt</th>
            <th>SpDef</th>
            <th>Spd</th>
            <th>Usage Stats</th>
            </thead>

            @foreach (var pokemon in Model.PokemonList)
            {

                <tr>
                    <td>
                        @if (pokemonCount > Model.NumImagesToLoad)
                        {
                            <span class="lazy-load">
                                <img src="@pokemon.SpriteUrl" alt="" loading="lazy" width="96" height="96"/>
                            </span>
                        }
                        else
                        {
                            <img src="@pokemon.SpriteUrl" alt=""/>
                        }
                    </td>
                    <td>
                        @pokemon.ID
                    </td>
                    <td>
                        @pokemon.Name
                    </td>
                    <td>
                        @pokemon.Type1
                    </td>
                    <td>
                        @pokemon.Type2
                    </td>
                    <td>
                        @pokemon.Ability1
                    </td>
                    <td>
                        @pokemon.Ability2
                    </td>
                    <td>
                        @pokemon.HiddenAbility
                    </td>
                    <td>
                        @pokemon.HP
                    </td>
                    <td>
                        @pokemon.Att
                    </td>
                    <td>
                        @pokemon.Def
                    </td>
                    <td>
                        @pokemon.SpAtt
                    </td>
                    <td>
                        @pokemon.SpDef
                    </td>
                    <td>
                        @pokemon.Spd
                    </td>
                    <td>
                        <a href="/ViewPokemonStat?PokemonName=@pokemon.Name">See Stats</a>
                    </td>
                </tr>

                pokemonCount += 1;

            }

        </table>

    </section>

}
else {
<section>

    <h1>No Matching Results</h1>

</section>

}
